@keyframes blinking {
    0%{
      background-color:#fff;
      color: #ff3d50;
    }
    /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
    50%{
      background-color: #55d66b;
      border: 5px solid #126620;
    }
    */
    100%{
      background-color: #ff3d50;
      color: white;
    }
  }
  .blink-danger{
    /* NAME | TIME | ITERATION */
    animation: blinking 1s infinite;
  }