<template>
<span class="account">
    {{ error }}

    {{account.name}}
</span>
</template>

<script>
    export default { 
        props: ['account_id'],
        created(){
            this.getAccount(this.account_id);
        },
        
        methods: {
            getAccount(id){
                if (typeof this.account_id === 'undefined') {
                    this.account_id = false
                }
                axios.get('/member/api/account/'+ this.account_id)
                .then(response => {
                    this.account = response.data
                })
                .catch(e => {
                    this.error = "An error has occured."
                })
            }
        },
        data(){
            return {
                error: '',
                account: {}
            }
        },
        mounted() {
            console.log('CurrencyComponent mounted.')
        }
    }
</script>
