<template>
<ul class="navbar-nav ml-auto currency usd">
    {{ error }}
    <li class="nav-item font-weight-bold"><a class="nav-link btn btn-link" @click="getCurrency()">${{ usd }}</a></li>
    <li class="nav-item font-weight-bold"><a class="nav-link btn btn-link" @click="getCurrency()">€{{ eur }}</a></li>
</ul>
</template>

<script>
    export default {        
        created(){
            this.getCurrency();
        },
        methods: {
            getCurrency(){
                const currconv_api_url = 'http://free.currconv.com/api/v7/convert?q=USD_RUB,EUR_RUB&compact=ultra&apiKey=0114b5df1f270ba61d2f';
                const proxy = "https://cors-anywhere.herokuapp.com/"; // new line
                axios({
                    method: 'get',
                    url: proxy + currconv_api_url,
                    headers: {'X-Requested-With': 'XmlHttpRequest'}
                })
                .then(response => {
                    this.usd = response.data.USD_RUB.toLocaleString(),
                    this.eur = response.data.EUR_RUB.toLocaleString()
                })
                .catch(e => {
                    this.error = "An error has occured."
                });
                console.log('Request done');
            }
        },
        data(){
            return {
                error: '',
                usd: {},
                eur: {}
            }
        },
        mounted() {
            console.log('CurrencyComponent mounted.')
        }
    }
</script>
