<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
      TEST
  </nav>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
