<template>
  <div class="card-body mt-2">
    <form @submit.prevent="createReport" @keydown="form.onKeydown($event)">
      <div class="form-group">
        <label>Start date</label>
        <input v-model="form.start_date" type="text" name="start_date"
          class="form-control" :class="{ 'is-invalid': form.errors.has('start_date') }">
        <has-error :form="form" field="start_date"></has-error>
      </div>
      <div class="form-group">
        <label>End date</label>
        <input v-model="form.end_date" type="text" name="end_date"
          class="form-control" :class="{ 'is-invalid': form.errors.has('end_date') }">
        <has-error :form="form" field="end_date"></has-error>
      </div>
      <button :disabled="form.busy" type="submit" class="btn btn-primary">Create report</button>
  </form>
  </div>
</template>

<script>
    export default {
      data () {
        return {
          // Create a new form instance
          form: new Form({
            start_date: '',
            end_date: ''
          })
        }
      },

      methods: {
        createReport () {
          // Submit the form via a POST request
          this.form.post('/member/reports')
            .then(({ data }) => { console.log(data) })
        }
      }
    }
</script>
