<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header ">
                <h5 class="float-left m-0">Транзакции <button type="button" class="btn btn-link p-0 m-0" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i></button></h5>
                </div>
                <div class="card-body">
                    {{ error }}
                    <table class="table table-bordered table-sm table-responsive-sm">
                        <transaction-item
                            v-for="transaction in transactions.data"
                            :transaction="transaction"
                            :key="transaction.id"
                            >
                        </transaction-item>
                    </table>
                </div>
                <pagination :data="transactions" 
                v-on:pagination-change-page="getTransactions"></pagination>
            </div>            
        </div>
    </div>    
</div>
</template>

<script>
    import TransactionItem from './TransactionItem'
    export default {
        components: {
            'transaction-item': TransactionItem
        },
        created(){
            this.getTransactions();
        },
        methods: {
            getTransactions(page){
                if (typeof page === 'undefined') {
                    page = 1
                }
                axios.get('/member/api/transactions?page=' + page)
                .then(response => {
                    this.transactions = response.data
                })
                .catch(e => {
                    this.error = "An error has occured."
                })
            }
        },
        data(){
            return {
                error: '',
                transactions: {}
            }
        }
    }
</script>
