<template>
    <tr>
        <td class="date">
            {{ transaction.created_date }}
        </td>        
        <td class="sum" v-bind:class="classBg">
            <span>{{ transaction.sum }}</span>
        </td>
        <td class="state">
            {{ transaction.state.name }}
        </td>
        <td class="account">
            {{ transaction.account.name }}
            <span v-if="transaction.account_to_id">
               -> <account-by-id v-bind:account_id="transaction.account_to_id"></account-by-id>
            </span>
        </td>
        <td class="compuslory">
            {{ transaction.compulsory }}
        </td>
        <td class="description">
            {{ transaction.description }}
        </td>
    </tr>
 </template>

<style>
    .bg-danger span:before{
        display: inline-block;
        content: '-';
    }
</style>

 <script>
    import AccountById from './AccountById'
    export default {
        components: {
            'account-by-id': AccountById
        },
        props: {
            transaction: Object
        },
        computed: {
            classBg: function () {
                return {
                'bg-danger text-white': this.transaction.type.id  === 1,
                'bg-success text-white': this.transaction.type.id  === 2,
                'bg-warning': this.transaction.type.id  === 3,
                }
            }
        }
    }
</script>